/*   font-family: "Open Sans", sans-serif; */

/* A- Reset All Elements */
/* B- Declared Global Variables */
/* C- Customize and Declared Redundent and Repeated Components */
/* D- Fontsize and typegraphy */
/* E- Body Element and Container */
body {
    font-family: "Open Sans", sans-serif;
}

/* F- Standard Media Queries */
/* use it if your web site has many section animation to make browser decide plays or not plays animation according to user perferences */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s;
    animation-delay: 0s;
    transition-duration: 0s;
  }
}
/* ================== All Above steps its done by using bootstrap.css ============================ */


/* ==================================== Header Section ================================= */
/* Header */
header.main-header nav ul.header-main-ul  li a { 
    position: relative;
}

header.main-header nav ul.header-main-ul  li a::after {
    all: unset;
    content: '';
    width: 0;
    height: 4px;
    background-color: #0D6EFD;
    position: absolute;
    left: 0PX;
    bottom: -2px;
    transition: width 0.3s ease;
}

header.main-header nav ul.header-main-ul  li:nth-of-type(4) a::before {
  content: '\f13a';
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  font-size: 15px;
  color: rgb(0 0 0 / 65%);
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(8px, -50%);
}

header.main-header nav ul.header-main-ul  li:nth-of-type(4) a:hover::before,
header.main-header nav ul.header-main-ul  li:nth-of-type(4) a.active::before  {
  color: #0D6EFD; 
}
header.main-header nav ul.header-main-ul  li:nth-of-type(4) a + ul li a::before { 
  all: unset;
}

header.main-header nav  ul.header-main-ul li a.active {
    color: #0D6EFD; 
    font-weight: 600;
}

header.main-header nav  ul.header-main-ul li a.active::after {
  width: 100%;
}

header.main-header nav  ul.header-main-ul li a:not(.active) {
    color: rgb(0 0 0 / 65%);
}


header.main-header nav  ul.header-main-ul li a:hover {
    color: #0D6EFD; 
}

header.main-header nav  ul.header-main-ul li a:hover::after {
    width: 100%;
}


/* Header */




/* Home Section */
main section.home .home-img {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    content-visibility: auto;
}
main section.home article.customize-fade h1 {
    transform-origin: left;
    animation: fade-right 0.9s ease-out forwards;
    will-change: opacity, transform;
}
main section.home article.customize-fade p {
    transform-origin: right;  
    animation: fade-left 0.9s ease-out forwards;
    will-change: opacity, transform;
}
main section.home article.customize-fade .btn-group {
    transform-origin: bottom;
    animation: fade-top 0.9s ease-out forwards;
    will-change: opacity, transform;
}


@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-50px) translateZ(0);
    } 
    100% {
        opacity: 1;
        transform: translateX(0) translateZ(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(50px) translateZ(0);
    } 
    100% {
        opacity: 1;
        transform: translateX(0) translateZ(0);
    }
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translateY(50px) translateZ(0);
  }
    100% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }
}

/* Home Section */

/* ==================================== Header Section ================================= */

/* About Section */
main section.about.section-bgc, main article.section-bgc {
    background-color: #f6f9fe;
}

main section.section-bgc .icon-circle {
    width: 80px; 
    height: 80px;
}

main section.section-bgc-white {
    background-color: #fff;
}

main section.about section.container div.row article.fade-in-article:nth-child(3),article.fade-in-article:nth-child(4),article.fade-in-article:nth-child(5) {
  transform-origin: right;
  animation: fade-in-left-about 0.9s ease-in-out;
  will-change: transform, opacity;
}


main section.about .animated-on-scroll.fade-up[data-animation-type='fade-up']{
  transform-origin: bottom;
  animation: fade-up 0.9s ease-in-out;
  will-change: transform, opacity;
}


main section.about section.section-bgc-white article.container div.row div ul li div strong {
  min-width: 95%;
}



main section.section-bgc-white .myprogress-40 {
    width: 40%;
    transition: width 0.6s ease;
}

main section.section-bgc-white .myprogress-50 {
    width: 50%;
    transition: width 0.6s ease;
}


main section.section-bgc-white .myprogress-60 {
    width: 60%;
    transition: width 0.6s ease;
}

main section.section-bgc-white .myprogress-70 {
    width: 70%;
    transition: width 0.6s ease;
}

main section.section-bgc-white .myprogress-80 {
    width: 80%;
    transition: width 0.6s ease;
}

main section.section-bgc-white .myprogress-90 {
    width: 90%;
    transition: width 0.6s ease;
}


main section.about.section-bgc .container + section + section article {
    animation: fade-up 0.9s ease-in-out;
}
/* About Section */

/* Start Services */
main section.services div.row div article {
  position: relative;
  z-index: 0;
}

main section.services div.row div article.fade-in-scroll:nth-child(n+1) {
  transform-origin: bottom;
  animation: fade-in-scroll 0.8s ease-in forwards;
  will-change: transform, opacity;
}
main section.services div.row div article.fade-in-scroll:nth-child(n+2){
  transform-origin: bottom;
  animation: fade-in-scroll 0.8s ease-in forwards;
  will-change: transform, opacity;
}
main section.services div.row div article.fade-in-scroll:nth-child(n+3) {
  transform-origin: bottom;
  animation: fade-in-scroll 0.8s ease-in forwards;
  will-change: transform, opacity;
}
main section.services div.row div article.fade-in-scroll:nth-child(n+4){
  transform-origin: bottom;
  animation: fade-in-scroll 0.8s ease-in forwards;
  will-change: transform, opacity;
}

main section.services div.row div article header i {
  color: #0D6EFD;
}

main section.services div.row div article::after {
  content: '';
  display: block;
  width: 100%;
  height: 0%;
  background-color: #0D6EFD;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
main section.services div.row div article:hover, 
main section.services div.row div article:hover header i {
  color: #FFF;
}
main section.services div.row div article:not(.carousel-item):hover::after { 
  color: #FFF;
  transform-origin: bottom;
  animation: fade-in-hover 0.6s ease-in-out alternate forwards;
  will-change: height;
}

main section.services div.container +  div.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 450px;
  display: block;
  position: relative;
  min-width: 100%;
  margin-inline: -12px;
  overflow: hidden;
}

main section.services div.container +  div.overlay > img {
  margin-inline: -12px;
  min-width: 100%;
  display: block;
  transform: translateX(10px);
}

main section.services div.container +  div.overlay > div.container {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50px);
  
} 

main section.services div.container +  div.overlay > div.container .carousel-inner {
  overflow: unset;
}
main section.services div.container +  div.overlay > div.container .carousel-item img {
  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 12vh;
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
@media (max-width: 576px) {
    main section.services div.container +  div.overlay > div.container .carousel-item img {
    margin-bottom: 16.25vh;
  }
}
/* Start Services */


/* Start Portofolio */
main section.portfolio article.row div.row figure.fade-in-up {
    transform-origin: bottom;
    animation: fade-in-up 0.6s ease-out forwards;
    will-change: opacity, transform;
}
main section.portfolio article.row div.row figure.fade-in-scale {
    transform-origin: center;
    animation: fade-in-scale 0.6s ease-out forwards;
    backface-visibility: hidden;
    will-change: opacity, transform;
}


main section.portfolio article.row div.row figure img.img-width {
  /* max-height: 300px; */
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}


main section.mycarousel {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  display: none;
  flex-flow: row wrap;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

main section.mycarousel.closed {
  display: none;
  opacity: 0;
}


main section.mycarousel.fade-fill {
  transform-origin: center;
  animation: fade-fill 0.6s ease-out forwards;
}
main section.mycarousel.fade-out {
  transform-origin: center;
  animation: fade-out 0.6s ease-out forwards;
}

main section.mycarousel header.carousel-header {
  position: relative;
  flex-basis: 100%;
  width: 100%;
}

main section.mycarousel header.carousel-header p {
  position: absolute;
  top: 0;
  left: 15px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
}
main section.mycarousel header.carousel-header a {
  all: unset;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 50px;
  color: whitesmoke;
  cursor: pointer;
  z-index: 1;
}

main section.mycarousel header.carousel-header button:last-of-type {
  all: unset;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 15px;
  color: whitesmoke;
  cursor: pointer;
  z-index: 1;
}

main section.mycarousel header.carousel-header button:hover {
  background-color: rgba(0,0,0,0.75);
}

main section.mycarousel div.carousel-container {
  flex-basis: 100%;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  padding: 15px 45px;
  overflow: hidden;
}

main section.mycarousel div.carousel-container figure {
  box-sizing: border-box;
  flex-basis: 100%;
  width: 100%;
  display: flex;
  
  transform: translate(-50%, -50%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}


main section.mycarousel div.carousel-container figure img {
  flex-basis: 100%;
  min-width: 100%;
  width: 800px;
  height: 600px;
  object-fit: contain;
  margin-top: 35px;
}


main section.mycarousel button:first-of-type {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: whitesmoke;
  z-index: 1;
}

main section.mycarousel button:last-of-type {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 15px;
  color: whitesmoke;
  z-index: 1;
}
/* End Portofolio */



/* Start Section Contact-us */
main section.contact div.row article.fade-in-left {
    transform-origin: left;
    animation: fade-in-left 0.6s ease-in forwards;
    will-change: opacity, transform;
}

main section.contact div.row div.fade-in-right, form.fade-in-right {
    transform-origin: right;
    /* use backwards because use delay */
    animation: fade-in-right 0.6s ease-in 0.6s backwards;
    will-change: opacity, transform;
}

main section.contact div.row div.left {
    max-width: 100%;
}

main section.contact div.row div.left iframe.ele-visible,
main section.contact div.row div.left img.ele-visible {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-width: 100%;
} 


main section.contact div.row div.left iframe.ele-in-visible, 
main section.contact div.row div.left img.ele-in-visible {
    display: none;
} 

main section.contact div.row form.right div.row textarea {
    height: 230px;
}

/* End Section Contact-us */

/* Start Footer */
footer.main-footer {
    background-color: #f6f9fe;
}
footer.main-footer section.container div.row article:not(:last-child) ul li {
    position: relative;
}
footer.main-footer section.container div.row article:not(:last-child) ul li::before {
    content: '\f0da';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 20px;
    color: #0D6EFD;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
/* End Footer */




/* Start Animation */

/* About Section */

@keyframes  fade-in-left-about {
    0% {
        transform: translateX(50px);
        opacity: 0.15;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    } 
}

@keyframes fade-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* About Section */

/* Services Section */
@keyframes fade-in-scroll {
  0% {
    opacity: 0;
    transform: translateY(50px) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) translateZ(0);
  }
}

@keyframes fade-in-hover {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

/* Services Section */

/* Portfolio Section */
@keyframes fade-fill {
  0%{
    opacity: 0;
    transform: scale(0) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
  100% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }
}

@keyframes fade-in-scale {
  0% {
        opacity: 0;
        transform: scale(0) translateZ(0);
    }
  100% {
      opacity: 1;
      transform: scale(1) translateZ(0);
  }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(40px) translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }
}
/* Portfolio Section */

/* Contact Section */
/* Fade-in-left */
@keyframes fade-in-left {
    0% {
        /* left */
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Animation Fade-in-right */
@keyframes fade-in-right {
    0% {
        /* right */
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Contact Section */

/* End Animation */